
{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Tous nos prestataire
{% endblock %}

{% block body %}
  <h1>Choisissez un prestataire pour votre mariage</h1>

  {% for presta in prestataires %}
    {{ dump(presta) }}
    <div class="well">
      <h3>{{ presta.nom }} à {{ presta.ville }}</h3>
      <p>Téléphone : {{ presta.tel }}</p>
      <p>Adresse : {{ presta.rue }} {{ presta.codePostal }} {{ presta.ville }}</p>

    </div>
  {% endfor %}

{% endblock %}