{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Espace personnel
{% endblock %}

{% block body %}

  <h1> Espace Personnel </h1>
  <h3> Récapitulatif de votre mariage : </h3>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Général</a></li>
    <li><a data-toggle="tab" href="#invites">Invités</a></li>
    <li><a data-toggle="tab" href="#salle">Salle</a></li>
    <li><a data-toggle="tab" href="#traiteur">Traiteur</a></li>
    <li><a data-toggle="tab" href="#photographe">Photographe</a></li>
    <li><a data-toggle="tab" href="#DJ">DJ</a></li>
  </ul>


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Général</h3>
      {% if mariage == false %}
         <a class="btn btn-primary btn-info" href="{{ path('iut_nuptias_mariage') }}">Commencer</a>
      {% else %}


          <h4>Infos générales : </h4>
          <p> Date du mariage  : {{ mariage.date|date('d/m/Y') }}</p>
          <p> Ville du mariage : {{ mariage.ville }}</p>
          <p> Nombre d'invités : {{ mariage.nbInvites }}</p>
          <p> Budget du mariage : {{ mariage.budget }}</p>

          {% if mariage.budgetSalle %}
            <p> Budget pour la salle : {{ mariage.budgetSalle }}</p>
          {% endif %}
          {% if mariage.budgetTraiteur %}
            <p> Budget pour le traiteur : {{ mariage.budgetTraiteur }}</p>
          {% endif %}
          {% if mariage.budgetPhotographe %}
            <p> Budget pour le photographe : {{ mariage.budgetPhotographe }}</p>
          {% endif %}
          {% if mariage.budgetDJ %}
            <p> Budget pour le DJ : {{ mariage.budgetDJ }}</p>
          {% endif %}

        <a class="btn btn-primary btn-info" href="{{ path('iut_nuptias_mariage') }}">Ajouter un autre mariage</a>
      {% endif %}
    </div>



    <div id="invites" class="tab-pane fade">
      <h3>Gestion des invites </h3>
      {% if mariage %}
          <p> Nombre d'invités : {{ mariage.nbInvites }}</p>
      {% endif %}
    </div>



    <div id="salle" class="tab-pane fade">
      <h3>Gestion de la salle </h3>
      {% if mariage and mariage.budgetSalle %}
        <p> Budget pour la salle : {{ mariage.budgetSalle }}</p>
      {% endif %}
    </div>



    <div id="traiteur" class="tab-pane fade">
      <h3>Gestion du traiteur </h3>
      {% if mariage and mariage.budgetTraiteur %}
        <p> Budget pour le traiteur : {{ mariage.budgetTraiteur }}</p>
      {% endif %}
    </div>



    <div id="photographe" class="tab-pane fade">
      <h3>Gestion du photographe </h3>
      {% if mariage and mariage.budgetPhotographe %}
        <p> Budget pour le photographe : {{ mariage.budgetPhotographe }}</p>
      {% endif %}
    </div>



    <div id="DJ" class="tab-pane fade">
      <h3>Gestion du DJ </h3>
      {% if mariage and mariage.budgetDJ %}
        <p> Budget pour le DJ : {{ mariage.budgetDJ }}</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
