{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Gestion des Invités
{% endblock %}

{% block body %}
<a href="{{ path("iut_nuptias_dashBoard") }}" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Retour </a>
  <h1> Dresser votre liste d'invités </h1>
  <p> Entrez l'adresse mail ainsi que
      le nom des personnes que vous désirez inviter
      et nous nous chargerons de le faire avec une annonce
      que vous pourrez modifier si vous le souhaiter.
  </p>

  <h2> Invités enregistrés: </h2>

  <div class="row">
    <style>
    div#list_de_trucs{
      margin:10px auto;
      width:100%;
      min-width:400px;
      max-width:700px;
    }
    div#list_de_trucs table{
      margin:0px;
      width:100%;
    }
    </style>

    <div id="list_de_trucs" class="table-responsive">
      <table>
        <tr>
          <th>Nom</th>
          <th>Mail</th>
          <th>Supprimer</th>
        </tr>
        {% for invite in invites  %}
            <tr>
              <td>{{ invite.nom }} </td>
              <td>{{ invite.mail }} </td>
              <td> <a href="{{ path('iut_nuptias_delete_invite', {'id_mariage': id_mariage, 'id_invite': invite.id}) }}" class="btn btn-primary btn-danger">Supprimer <span class="glyphicon glyphicon-trash"></span></a> </td>
            </tr>
        {% endfor %}
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        {{ form_start(form) }}
        <tr>
          <td>{{ form_errors(form.nom) }} {{ form_widget(form.nom) }}</td>
          <td>{{ form_errors(form.mail) }} {{ form_widget(form.mail) }}</td>
          <td>{{ form_row(form.Ajouter) }}</td>
        </tr>
        {{ form_end(form) }}
      </table>
    </div>
  </div>

  <a href="{{ path('iut_nuptias_send_invite', {'id_mariage' : id_mariage} ) }}" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-arrow-right"></span> Envoyer toutes les invitations</a>
  <h2> Invitations déja envoyés : </h2>

  <div class="row">
    <div id="list_de_trucs" class="table-responsive">
      <table>
        <tr>
          <th>Nom</th>
          <th>Mail</th>
          <th>Réponse</th>
        </tr>
        {% for invite in invites  %}
            <tr>
              <td>{{ invite.nom }} </td>
              <td>{{ invite.mail }} </td>
              <td>{{ invite.reponse }}</td>
            </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-cog"></span> Modifier l'annonce</button>


{% endblock %}
