{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block stylesheets %} <!-- feuille de styles pour les pages autre que index.html.twig -->
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/theme_invites.css')}}" />
{% endblock %}

{% block title %}
  {{ parent() }} - Gestion des Invités
{% endblock %}

{% block body %}
<a href="{{ path("iut_nuptias_dashBoard") }}" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Retour </a>
  <h1> Dresser votre liste d'invités </h1>
  <p> Entrez l'adresse mail ainsi que
      le nom des personnes que vous désirez inviter
      et nous nous chargerons de le faire avec une annonce
      que vous pourrez modifier si vous le souhaiter.
  </p>

  <h2> Invités enregistrés : </h2>

  <div class="row">
    <style>
    div#list_de_trucs{
      margin:10px;
      width:100%;
      min-width:400px;
      max-width:800px;
    }
    div#list_de_trucs table{
      margin:0px;
      width:100%;
    }
    table thead {
      background-color:lightgrey;
    }
    </style>

    <div id="list_de_trucs" class="table-responsive">
      {{ form_start(form) }}
      <table class="table table-hover">
        <thead style="background-color:rgb(62,182,24)">
          <tr>
            <th>Nom</th>
            <th>Mail</th>
            <th>Envoyer une invitation ?</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        {#Le protoype sert à ajouter dynamiquement des lignes, au bon format (utilisé dans le script)#}

        <tbody id="invites" data-prototype="
          {% filter escape %}
              {{ include('IUTNuptiasBundle:Nuptias:prototype.html.twig', { 'form': form.invites.vars.prototype }) }}
          {% endfilter %}">
          {% for invite in form.invites %}
            {% if invite.vars.data.reponse == 'Non envoyé' %}
              <tr>
                <td>{{ form_errors(invite.nom) }}{{ form_widget(invite.nom) }}</td>
                <td>{{ form_errors(invite.mail) }}{{ form_widget(invite.mail) }} </td>
                <td>{{ form_row(invite.envoyerInvitation) }}</td>
                <td> <a href="#" onclick="removeInvite(this)" class="btn btn-primary btn-danger">Supprimer <span class="glyphicon glyphicon-trash"></span></a> </td>
              </tr>
            {% else %}{#On n'affiche pas les invités déjà invités néanmoins si ils n'apparaissent pas dans le form, symfony les supprimerait, donc on les cache avec display:none#}
              <tr style="display: none">
                <td>{{ form_errors(invite.nom) }}{{ form_widget(invite.nom) }}</td>
                <td>{{ form_errors(invite.mail) }}{{ form_widget(invite.mail) }} </td>
                <td>{{ form_row(invite.envoyerInvitation) }}</td>
                <td> <a href="#" onclick="removeInvite(this)" class="btn btn-primary btn-danger">Supprimer <span class="glyphicon glyphicon-trash"></span></a> </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>


      </table>
    </div>
  </div>
  <a href="#" id="addInvite" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-plus"></span> Ajouter un invité</a>
  {{ form_widget(form.Enregistrer) }}
  {{ form_widget(form.EnregistrerPuisEnvoyer, {'attr': {'class': 'btn btn-primary btn-info'}}) }}
  <div style="display: none">{{ form_rest(form) }}</div>{#On cache les autres éléments du formulaire de mariage pour ne s'occuper que des invités.#}
  {{ form_widget(form._token) }}{{ form_end(form) }}

  <h2> Invitations déja envoyés : </h2>
  {% set nombreEnvoi = 0 %}
  {% for invite in invites %}
    {% if invite.reponse != 'Non envoyé' %} {% set nombreEnvoi = nombreEnvoi+1 %} {% endif %}
  {% endfor %}
  {% if nombreEnvoi == 0 %}
    <p>Vous n'avez pas encore envoyé d'invitation.</p>
  {% else %}
    <div class="row">
      <div id="list_de_trucs" class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Mail</th>
              <th>Réponse</th>
            </tr>
          </thead>
          {% for invite in invites  %}
            {% if invite.reponse != 'Non envoyé' %}
              <tr>
                <td>{{ invite.nom }} </td>
                <td>{{ invite.mail }} </td>
                <td>{{ invite.reponse }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
  <button type="button" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-cog"></span> Modifier l'annonce</button>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">

    function removeInvite(objet) {
      //L'objet est dans une cellule du tableau, la ligne à supprimer correspondante est donc
      //le parent (cellule) du parent de l'objet (ligne).
      $(objet).parent().parent().remove();
    }

    var index = '{{ form.invites|length }}';

    jQuery(document).ready(function() {
      //Sert juste à ajouter le span sans rédifinir le block label de twig
      jQuery('#iut_nuptiasbundle_mariage_EnregistrerPuisEnvoyer').prepend('<span class="glyphicon glyphicon-arrow-right"></span> ');

      jQuery('#addInvite').click(function(e) {
        e.preventDefault();

        //On récupère l'élément ayant pour id "invites" (tbody contenant la boucle)
        var invites = jQuery('#invites');

        //A partir de tbody on récupère le prototype
        var newWidget = invites.attr('data-prototype');

        //__name__ doit être remplacé par le numero d'invite ici index (cf. doc)
        newWidget = newWidget.replace(/__name__/g, index);
        index++;

        //On ajoute à la page la nouvelle ligne crée dans des balises <tr>
        var nouvelleLigne = jQuery('<tr></tr>').html(newWidget);
        nouvelleLigne.appendTo(invites);
      });

      //Compte du nombre d'invitatons
      {% set nombreEnvoi = 0 %}
      {% for invite in invites %}
        {% if invite.reponse != 'Non envoyé' %} {% set nombreEnvoi = nombreEnvoi+1 %} {% endif %}
      {% endfor %}

      //Si toutes les invitations ont été envoyés, clic sur ajouter un invité enclenché par défaut.
      if (index-{{ nombreEnvoi }} == 0) $('#addInvite').trigger("click");
    });

  </script>

{% endblock %}
