{% extends "IUTNuptiasBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Espace personnel
{% endblock %}

{% block body %}
  <h3>Formulaire de création de mariage</h3>

  <div class="well">
    {{ form_start(form) }}

      {% if pack == "DIY" %}
        {{ form_widget(form.budgetSalle, { 'attr': {'class': 'hide'} }) }}
        {{ form_widget(form.budgetTraiteur, { 'attr': {'class': 'hide'} }) }}
        {{ form_widget(form.budgetPhotographe, { 'attr': {'class': 'hide'} }) }}
        {{ form_widget(form.budgetDJ, { 'attr': {'class': 'hide'} }) }}
      {% endif %}

      {% if pack == "classique" %}
          {{ form_widget(form.budgetSalle, { 'attr': {'class': 'hide'} }) }}
          {{ form_widget(form.budgetTraiteur, { 'attr': {'class': 'hide'} }) }}
      {% endif %}

    {{ form_end(form) }}
  </div>

{% endblock %}

{# {% block javascripts %}
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
{% endblock %}
#}
